body{
    background-color: #c6e2f7;
}

header{
      text-align: center;
      font-size: 50px;
      font-family: cursive;
      color: orange;
}

main{
    background-color: #f23f69;
    font-size: 20px;
    color: #f2f5f7;
    font-family: cursive;
}

footer p{
        background-color: white;
        color: black;
        font-size: 50px;
        font-family: cursive;
}

footer a{
        background-color: white;
        color: purple;
        font-size: 50px;
        font-family: cursive;
        text-align: center;
}

footer h1{
         background-color: #1D7373;
         color: #33CCCC;
         font-family: cursive
}